{% extends "base.html" %} {% block title %}Request Plasma{% endblock %}
{% block content %}
<br><br>
{% if current_user.id == 1 %}
    <h5 class="card-title">Welcome to The Request Board, Administrator. </h5>
{% else %}
    <h5 class="card-title">Welcome to The Request Board, {{current_user.name}}</h5>
{% endif %}
<div class="container">
  <div class="row">
  {% for entry in plasma %}
  <div class="container col-6">
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Request Number : {{entry.id}}</div>
      <div class="card-body text-info" >
        <p class="card-text">
          <strong>Name :</strong>{{entry.name}}<br/>
          <strong>Email :</strong>{{entry.email}}<br/>
          <strong>Blood Group :</strong>{{entry.blood_group}}<br/>
          <strong>Date :</strong>{{entry.date_details}}<br/>
          <strong>Details :</strong>{{entry.details}}<br/>
          <strong>Address :</strong>{{entry.address}}<br/>
          {% if current_user.email == entry.email %}
             <a href="{{url_for('views.request_update', id = entry.id)}}" class="btn btn-primary btn-small">Update</a>
             <a href="{{url_for('views.delete', id = entry.id)}}" class="btn btn-danger btn-small">Delete</a>

          {% elif current_user.id == 1 %}
             <a href="{{url_for('views.delete', id = entry.id)}}" class="btn btn-danger btn-small">Delete</a>
          {% endif %}
         
        </p>
      </div>
    </div>
  </div>
{% endfor %}
  </div>
</div>     



{% endblock %}
