{% extends "base.html" %} {% block title %}Why Donate Plasma?{% endblock %}
{% block content %}
<br>
<div class="container">
<h2 class="text-center fw-bloder">{{title}}</h2>
<h2 class="text-center fw-bolder fs-3">How are plasma donations used?</h2>
<p class="text-center fs-5">Blood plasma donations are used for slightly more specific purposes than a general blood donation. The most common uses of plasma donations include individuals who have experienced a severe trauma, burn or shock, adults or children with cancer, and people with liver or clotting factor disorders. Donated plasma can be frozen and stored for up to one year. Nearly 10,000 units of plasma are needed every day in the United States, and plasma transfusions are often lifesaving.
</p>

<h3 class="py-4 fw-bolder fs-4">Who do plasma donations help?</h3>
<p class="lead fs-6">Individuals who experience a severe trauma, burn or shock often lose a significant amount of blood volume, and are depleted of many necessary electrolytes. Electrolytes are minerals that help to balance the amount of water, nutrients and pH level inside the body. In this situation, a plasma transfusion can provide the lifesaving blood volume needed to restore their blood pressure and volume status, as well as restore electrolyte levels.</p>
<p class="lead fs-6">In addition, people with liver disease or clotting factor deficiencies may not have the proper substances in their blood to allow their blood to clot normally. Whenever an individual has a cut or injury, these clotting factors ensure that they do not lose too much blood. Plasma donations ensure that these individuals can receive a plasma transfusion to supplement their body’s clotting ability and stop excessive bleeding from occurring. Finally, children and adults with cancer sometimes experience complications in which their body has used up all of their natural clotting factors. In cases of this disorder, called disseminated intravascular coagulation (DIC), transfusions of fresh frozen plasma may be critical.</p>


<h3 class="py-4 fw-bolder fs-4">What is the plasma donation process?</h3>
<p class="lead fs-6">There are a few differences between normal blood donation and plasma donation, but the process only takes a few extra minutes. During a normal blood donation, blood is removed from the patient and sent to a laboratory, where it is then separated into its primary parts (red blood cell, plasma and platelets) for separate transfusion. Most plasma that goes to patients comes from this process.</p>
<p class="lead fs-6">During a plasma donation, blood is removed from the donor’s arm and run through an automated process that removes the plasma portion from the blood. The remaining red blood cells and platelets are then returned to the donor’s arm with a small amount of saline to maintain the overall volume. This all occurs while the donor is in the donation chair and allows a donor to give more plasma than they would during a regular blood donation –  enough plasma for up to three patients from a single plasma donation. The process itself is safe, and ultimately is very similar to a general blood donation visit.</p>


<h3 class="py-4 fw-bolder fs-4">Best blood type for plasma donation</h3>
<p class="lead fs-6">The ideal blood type for plasma donations are AB+ and AB-. AB is the universal blood type for plasma donations and can be given to patients with any blood type. It’s critical in trauma care, where there’s often not enough time to test blood type prior to transfusion. Since only 4% of the population is type AB, more type AB plasma is needed than there are often donors available to give it. A plasma donation by type AB donors helps ensure one donor can give even more plasma to help trauma patients. Individuals can donate plasma as often as every 28 days, and the average donation takes about 1 hour and 15 minutes.</p>
<p class="lead fs-6">Type AB donors are always needed to provide plasma for trauma patients. At the Red Cross, those donors are called AB Elite. AB Elite plasma donations can be scheduled online, over the phone 1-800-RED-CROSS or via the American Red Cross Blood Donor app.</p>
</div>


{% endblock %}
