{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<br>
<div class="container">

    <h2 class="py-4 fw-bloder fs-4">Requirements of a Donor</h2>
    <ul class="list-group list-group-flush">
       
        <li class="list-group-item fs-6">You must be between 18 – 65 years of age.</li>
        <li class="list-group-item fs-6">You must weigh 110 lbs. or more.            </li>
        <li class="list-group-item fs-6">You must be in good health.</li>
        <li class="list-group-item fs-6">You must live within a 50 mile radius.</li>
        <li class="list-group-item fs-6">You must not have had new piercings or tattoos in the previous four months.</li>
        <li class="list-group-item fs-6">You must have valid identification.</li>
        <li class="list-group-item fs-6">You must have a permanent address.</li>
    </ul>

    <h2 class="py-4 fw-bolder fs-4">What should I bring? Use the list below to ensure you bring the required documents.</h2>
    <ul class="list-group list-group-flush">
         <li class="list-group-item fs-6">A valid Government-issued identification like a state-issued driver’s license or military ID card. </li>
         <li class="list-group-item fs-6">Your social security card or valid proof of your social security number.</li>
         <li class="list-group-item fs-6">Proof of a local residence. You can use a piece of mail such as a utility bill postmarked in the last 30 days, or a valid lease, etc. </li>
    </ul>
    <h2 class="py-4 fw-bolder fs-4">How do I prepare for my visit?</h2>
    <ul class="list-group list-group-flush">
         <li class="list-group-item fs-6">Drink plenty of water, juice, or other non-caffeinated beverages 2-3 hours before you arrive. We recommend 4-6 glasses. Avoid caffeine in the same time period.</li>
         <li class="list-group-item fs-6">Don’t drink any alcohol for 24 hours before your plasma donation. </li>
         <li class="list-group-item fs-6">Do eat a meal before you arrive.  </li>
         <li class="list-group-item fs-6">Get plenty of sleep the night before your plasma donation.  </li>
    </ul>
    <h2 class="py-4 fw-bolder fs-4">How often could I donate plasma?</h2>
    <ul class="list-group list-group-flush">
         <li class="list-group-item fs-6">Every 28 days, upto 13 times a year. </li>
    </ul>

    <h2 class="py-4 fw-bolder fs-4">Who Do Plasma Donations Help?</h2>
    <p class="lead fs-6">
        Individuals who experience a severe trauma, burn or shock often lose a significant amount of blood volume, and are depleted of many necessary electrolytes. Electrolytes are minerals that help to balance the amount of water, nutrients and pH level inside the body. In this situation, a plasma transfusion can provide the lifesaving blood volume needed to restore their blood pressure and volume status, as well as restore electrolyte levels.

        In addition, people with liver disease or clotting factor deficiencies may not have the proper substances in their blood to allow their blood to clot normally. Whenever an individual has a cut or injury, these clotting factors ensure that they do not lose too much blood. Plasma donations ensure that these individuals can receive a plasma transfusion to supplement their body’s clotting ability and stop excessive bleeding from occurring. Finally, children and adults with cancer sometimes experience complications in which their body has used up all of their natural clotting factors. In cases of this disorder, called disseminated intravascular coagulation (DIC), transfusions of fresh frozen plasma may be critical.
    </p>

    <h2 class="py-4 fw-bolder fs-4">What Is The Plasma Donation Process?</h2>
    <p class="lead fs-6">
        During a plasma donation, blood is removed from the donor’s arm and run through an automated process that removes the plasma portion from the blood. The remaining red blood cells and platelets are then returned to the donor’s arm with a small amount of saline to maintain the overall volume. This all occurs while the donor is in the donation chair and allows a donor to give more plasma than they would during a regular blood donation – enough plasma for up to three patients from a single plasma donation. The process itself is safe, and ultimately is very similar to a general blood donation visit.
    </p>





{% endblock %}
