{% extends "base.html" %} {% block title  %}FAQ's{% endblock  %}
{% block content  %}

<h2 class="text-center text-info-emphasis"> Frequently Asked Questions </h2>
<div class="container">

  <ul class="list-group">
    <li class="btn btn-info" data-bs-toggle="collapse" role="button" href="#gq"><strong>General</strong></li>
    
    <div class="collapse" id="gq">
      <div class="card card-body">
        <ul class="list-group">
          <li class="btn" data-bs-toggle="collapse" role="button" href="#gq1"><strong>1. How is plasma different from blood? </strong></li>
          <div class="collapse" id="gq1">
            <div class="card card-body">
              Plasma is a component of blood. Blood is made up of red blood cells, white blood cells, and platelets, all of which are suspended in plasma. Plasma is the liquid portion of blood and makes up about 55% of it. Plasma is typically a clear, yellowish color, though the color may vary between samples. For instance, blood plasma may appear more red, orange, or green depending on the donor. Reddish-orange plasma is often seen in smokers and greenish plasma may be more apparent for those who are pregnant, on certain birth-control medication, have rheumatoid arthritis, or are on other medications.
            </div>
          </div>
          
          <li class="btn" data-bs-toggle="collapse" role="button" href="#gq2"><strong>2. What is the differece between donating blood and donating plasma</strong></li>
          <div class="collapse" id="gq2">
            <div class="card card-body">
              The most common type of blood donation is called a whole blood donation. When you make a whole blood donation, you typically donate roughly one pint of blood. It can then be transfused in its original form or separated into its components, including plasma and red blood cells. Eligible donors age 19 and older can donate whole blood every 56 days. <br><br> When you donate plasma, blood is drawn from the arm and sent through a machine that automatically separates the plasma from the other blood components through a process called plasmapheresis. Then, the rest of your blood is returned back to you.
            </div>
          </div>

          <li class="btn" data-bs-toggle="collapse" role="button" href="#gq3"><strong>3. How does the body use blood plasma? </strong></li>
          <div class="collapse" id="gq3">
            <div class="card card-body">
              Plasma serves several important functions:
              <ul>
                <li>Maintains blood pressure and volume<li>
                <li> Supplies proteins for blood clotting </li>
                <li> Carries electrolytes throughout the body to muscles</li>
                <li>Supports cell function by maintaining proper pH balance</li>
              </ul>
              <br>
              When you donate plasma, it is a valuable resource to treat a variety of health problems. It is often used in treatments to save those suffering from medical emergencies including burns, shock, and trauma. Because plasma can increase blood volume and helps aid clotting, it is also provided to those with severe liver disease or clotting deficiencies. Plasma is also used by pharmaceutical companies as a component in certain medications.
            </div>
          </div>

          <li class="btn" data-bs-toggle="collapse" role="button" href="#gq4"><strong>4. Does plasma regenerate? </strong></li>
          <div class="collapse" id="gq4">
            <div class="card card-body">
              Yes, plasma will regenerate in about 48 hours after donation. This is much faster than it takes for whole blood to fully replenish, which takes about one to two months. The plasma in your blood is formed from water and salts absorbed through the digestive track. Remember to stay hydrated and avoid strenuous physical activity after donating plasma while it continues to replenish.
            </div>
          </div>

          <li class="btn" data-bs-toggle="collapse" role="button" href="#gq5"><strong>5. How often can i donate plasma? </strong></li>
          <div class="collapse" id="gq5">
            <div class="card card-body">
              Every 56 days, up to 6 times a year.
            </div>
          </div>
      </div>
    </div>
 
    <li class="btn btn-danger" data-bs-toggle="collapse" role="button" href="#rq"><strong>Risks</strong></li>
    
    <div class="collapse" id="rq">
      <div class="card card-body">
        <ul class="list-group">

          <li class="btn" data-bs-toggle="collapse" role="button" href="#rq1"><strong>1. Does donating plasma hurt? </strong></li>
          <div class="collapse" id="rq1">
            <div class="card card-body">
              You may experience mild discomfort when donating plasma, similarly to when donating blood or having blood drawn. Donors often compare the feeling of the needle to a slight pinch or bee sting.
            </div>
          </div>

          <li class="btn" data-bs-toggle="collapse" role="button" href="#rq2"><strong>2. What are the short-term side effects of donating plasma?  </strong></li>
          <div class="collapse" id="rq2">
            <div class="card card-body">
              For healthy adults who meet the donation eligibility requirements, donating plasma is generally a safe medical procedure, however you may face mild immediate side effects. Short-term plasma donation side effects include:
              <ul>
                <li><strong>Dehydration: </strong> Because plasma contains water, removing it may cause donors to experience mild dehydration after donation.</li>
                <li><strong>Dizziness or lightheadedness: </strong> Donating plasma may cause mild electrolyte imbalances because plasma contains a lot of salts, vitamins, and minerals (electrolytes) that help your body’s functions. </li>
                <li><strong>Fatigue: </strong>If you experience dehydration or electrolyte imbalances, you may also experience tiredness after donating plasma. </li>
                <li><strong>Bruising or discomfort: </strong> Bruising may occur at the site of the needle insertion, and you could experience some discomfort during the donation process. If you’re uncomfortable, you can speak with a clinician. </li>
                <li><strong>Infection or inflammation: </strong>Donating plasma comes with a slight risk of infection. Signs of infection include pain, swelling, or feeling of warmth at the site of the needle insertion.</li>
              </ul> 
            </div>
          </div>
        </ul>
      </div>    
    </div>  

    <li  class="btn btn-warning" data-bs-toggle="collapse" role="button" href="#dq"><strong>Donor related Queries</strong></li>
    
    <div class="collapse" id="dq">
      <div class="card card-body">
        <ul class="list-group">
    
          <li class="btn" data-bs-toggle="collapse" role="button" href="#dq1"><strong>1. What are the requirements to be a plasma donor? </strong></li>
          <div class="collapse" id="dq1">
            <div class="card card-body">
               Anyone in good health, between the ages of 18-74, who weighs at least 110 pounds, has no tattoos or piercings within the last 4 months, meets medical screening requirements, and has valid identification and a permanent address. Test negative for viruses that can be passed through blood, like HIV and hepatitis.
            </div>
          </div>

          <li class="btn" data-bs-toggle="collapse" role="button" href="#dq2"><strong>2. Who can donate plasma?  </strong></li>
          <div class="collapse" id="dq2">
            <div class="card card-body">
               Generally, anyone in good health, between the ages of 18-74, who weighs at least 110 pounds, has no tattoos or piercings within the last 4 months, meets eligibility and screening requirements, and has valid identification and a permanent address can donate plasma. <br/> If you have AIDS, have tested positive for HIV, or have done something in the past four months that puts you at risk of contracting HIV, you should not donate plasma. That includes:
               <ul>
                 <li>Anyone who has injected drugs, steroids, or other substances not prescribed by a doctor in the last four months.</li>
                 <li>Anyone who has engaged in sex for money or drugs in the last four months. </li>
                 <li>Men who have had sexual contact with other men in the last four months. </li>
               </ul>
               Similarly, if you have viral hepatitis or have had close contact with someone who does in the last 12 months, you should not donate plasma.
            </div>
          </div>

          <li class="btn" data-bs-toggle="collapse" role="button" href="#dq3"><strong>3. What happens during the plasam donation process? </strong></li>
          <div class="collapse" id="dq3">
            <div class="card card-body">
               Plasma donation usually takes about 90 minutes to two hours. If you have a preference for which arm is used, you can share it. You will have a cuff or tourniquet placed around your upper arm to increase the blood in your veins and the skin on the inside of your elbow will be cleaned. A sterile needle will be inserted into your vein. Whole blood will be collected and then run through a machine to separate the plasma from the other components. Once the plasma has been collected, a final return of white and red blood cells will be completed followed by an infusion of a saline solution.
            </div>
          </div>
        </ul>  
      </div>  
    </div>  
  </ul>
  
</div>

{% endblock  %}
