{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}

<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% if current_user.is_authenticated %}
      <div class="carousel-item active" style="background-image: url('https://intranet.cb.amrita.edu/sites/default/files/2022-06/8I4A0951%20copy.jpg'), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)); background-repeat: no-repeat; background-attachment: fixed;background-size: 100% 100%">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Post your Plasma Drives here.</h1>
            <p>Fill the form and post your plasma drives here with us to reach more willing donors.</p>
            <p><a class="btn btn-lg btn-primary" href="/request">Post now</a></p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="carousel-item active" style="background-image: url('https://www.redcross.org/content/dam/redcross/about-us/news/2021/731501tier_369what_is_ccp_003.png.img.png'), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)); background-repeat: no-repeat; background-attachment: fixed;background-size: 100% 100%">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Start Donating Today.</h1>
            <p>Become a member of our site by signing in and start donating plasma.</p>
            <p><a class="btn btn-lg btn-danger" href="/donor-register">Register</a></p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="carousel-item" style="background-image: url('https://nhsbtdbe.blob.core.windows.net/umbraco-assets-corp/19598/paul-mates-donating-convalescent-plasma-manchester.jpg'), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Why Donate Plasma?</h1>
            <p>What is the purpose of me donating my plasma?</p>
            <p><a class="btn btn-lg btn-primary" href="/info-donor">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://www.ebsco.com/sites/default/files/acquiadam-assets/male-doctor-laptop-typing-pen-blog-image-780.jpg'), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
             <h1>Am I a Donor?</h1>
            <p>See if you meet dodnor requirements here.</p>
            <p><a class="btn btn-lg btn-primary" href="/Donor">Read here</a></p>
          </div>
        </div>
      </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
</div>

<div class="container marketing">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">What is plasma? <span class="text-body-secondary"> Why is it important?</span></h2>
      <p class="lead">Learn some interesting facts about plasma and know how important it is to both you and society.</p>
      <p><a class="btn btn-lg btn-primary" href="/info-plasma">Read here</a></p>
    </div>
    <div class="col-md-2">
      <placeholder width="30px" height="30px" background="var(--bs-secondary-bg)" color="var(--bs-secondary-color)" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" >
      <img src="https://my.clevelandclinic.org/-/scassets/images/org/health/articles/22865-plasma" alt="Plasma in blood compostion" width="400" height="400">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Am I Allowed to host a drive? <span class="text-body-secondary">What is the criteria for hosting a plasma drive?</span></h2>
      <p class="lead">Learn about who can host a plasma drive and what are the requirements to be eligible for hosting a drive.</p>
      <p><a class="btn btn-lg btn-primary" href="/recipient">Read here</a></p>
    </div>
    <div class="col-md-5 order-md-1">
      <placeholder width="500" height="500" background="var(--bs-secondary-bg)" color="var(--bs-secondary-color)" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" >
      <img src="https://api.army.mil/e2/c/images/2020/09/03/df2fea55/original.jpg" alt="Plasma Drive in action" width="400" height="400">
    </div>
  </div>
</div>

{% endblock %}
