{% extends "base.html" %} {% block title %}All about plasma{% endblock %}
{% block content %}
<br>
<div class="container">
<h2 class="text-center fw-bloder">{{title}}</h2>
<h2 class="text-center fw-bolder fs-3">What is plasma in blood?</h2>
<p class="text-center fs-5">Plasma is the liquid portion of blood. About 55% of our blood is plasma, and the remaining 45% are red blood cells, white blood cells and platelets that are suspended in the plasma.</p>
<p class="text-center fs-5">Plasma is about 92% water. It also contains 7% vital proteins such as albumin, gamma globulin and anti-hemophilic factor, and 1% mineral salts, sugars, fats, hormones and vitamins.</p>
<h3 class="py-4 fw-bolder fs-4">Plasma serves for important functions in our body:</h3>
<p class="lead fs-6 text-danger">1. <span class="text-body-secondary">Helps maintain blood pressure and volume. </span></p>
<p class="lead fs-6 text-danger">2. <span class="text-body-secondary">Supply critical proteins for blood clotting and immunity. </span></p>
<p class="lead fs-6 text-danger">3. <span class="text-body-secondary">Carries electrolytes such as sodium and potassium to our muscles. </span></p>
<p class="lead fs-6 text-danger">4. <span class="text-body-secondary">Helps to maintain a proper pH balance in the body, which supports cell function. </span></p>

<h3 class="py-4 fw-bolder fs-4">What is blood plasma used for?</h3>
<p class="lead fs-6">Plasma is commonly given to trauma, burn and shock patients, as well as people with severe liver disease or multiple clotting factor deficiencies. It helps boost the patient’s blood volume, which can prevent shock, and helps with blood clotting. Pharmaceutical companies use plasma to make treatments for conditions such as immune deficiencies and bleeding disorders. </p>


<h3 class="py-4 fw-bolder fs-4">What is a plasma donation?</h3>
<p class="lead fs-6">In a plasma-only donation, the liquid portion of the donor’s blood is separated from the cells. Blood is drawn from one arm and sent through a high-tech machine that collects the plasma. The donor’s red blood cells and platelets are then returned to the donor along with some saline. The process is safe and only takes a few minutes longer than donating whole blood.</p>
<p class="lead fs-6">Donated plasma is frozen within 24 hours of being donated to preserve its valuable clotting factors. It can be stored for up to one year and thawed for transfusion to a patient when needed.</p>


<h3 class="py-4 fw-bolder fs-4">Who should donate plasma?</h3>
<p class="lead fs-6">Everyone should donate plasma when they could. People with type AB blood are even more important in plasma donation. AB is the only universal plasma and can be given to patients of any blood type. This means that type AB plasma transfusions can be given immediately, without losing precious time determining if the patient’s blood type is compatible. In emergency medicine, such as caring for a major trauma or burn patient, time saved can mean the difference between life and death.</p>
</div>


{% endblock %}
