{% extends "base.html" %} {% block title %}Privacy Policy{% endblock %}
{% block content  %}

<div class="container">

  <h1 class="text-center text-danger">Privacy Notice<h1>
  <p class="pass fs-4">From time to time, just like many other companies, we collect or process personal information about you. In this privacy notice, we explain:</p>
    <ul class="pass fs-4">
      <li> what kind of information we process,</li>
      <li> how we’re collecting it, and</li>
      <li> what we’re using it for.</li>
    </ul>
  <p class="pass fs-4">Importantly, we also tell you what your rights are in relation to the personal data we hold and what you can do to enforce them.</p>

  <br>

  <h2 class="py-4 fs-3 fw-bolder text-uppercase">introduction</h2>
  <p class="pass fs-6">At CSL Plasma LLC (“we”, “us”, “CSL Plasma”) we are committed to protecting your privacy. When you engage with us we may collect certain information that can be used to identify you (your “personal data”).<br><br>We are responsible for deciding how we hold, use and secure your personal data. We are responsible for responding to requests you make in relation to how your personal data is used.<br><br>This privacy notice explains what personal data we collect about you and how we use that personal data when you use our websites, mobile sites, mobile applications and other services and products controlled by CSL Plasma that link to this privacy notice. It also explains the rights you may have in relation to that personal data.

  <br>
  
  <h2 class="py-4 fs-3 fw-bolder text-uppercase">categories of personal data we collect</h2>
  <p class="pass fs-6">We may collect the following types of personal data from you when you interact with CSL Plasma:
    <ul class="pass fs-6">
      <li><strong>Contact Details: </strong>this is information that allows us to contact you, such as your name, address, telephone numbers, email addresses and social media handles/user names.</li>
      <li><strong>Demographic Information: </strong>this is information about your background and which can help us identify you more precisely such as gender, citizenship, date of birth.</li>
      <li><strong>Personal data in reports and notifications you submit to us: </strong>if you submit information to us about our services through our website, we will collect any personal data you include within your report.</li>
      <li><strong>Records of your discussions with us: </strong>when you contact us using the contact options on the website (whether by email, phone, an online form) or through social media (such as through Twitter or on Facebook), we may keep a record of the information you provide when doing this.</li>
    </ul>
  </p>

  <br>

  <h2 class="py-4 fs-3 fw-bolder">HOW DO WE COLLECT PERSONAL DATA</h2>
  <p class="pass fs-6">We will collect personal data from a number of sources. These include:
    <ul>
      <li><strong>Directly from you: </strong>when you set up an account with us, purchase products or services from us, complete forms we provide to you, make a report or notification about our products or services, contact us by phone, email, or communicate with us directly in some other way (such as social media).</li>
      <li><strong>Our website: </strong>We also collect information about how you use our website.</li>
    </ul>
  </p>

  <br>

  <h2 class="py-4 fs-3 fw-bolder text-uppercase">contact us</h2>
  <p class="pass fs-6">If you have any questions about how we process your personal data, you can contact us using the details below.<br><br>
    <ul>
      <li><strong>Contact Number: </strong>+91 8667414191</li>
      <li><strong>Email: </strong>suswin@gmail.com</li>
      <li><strong>Address: </strong>Anna University Regional Campus, Tirunelveli - 627007. </li>
    </ul>
  </p>
</div>

{% endblock %}
