{% extends "base.html" %} {% block title %}Plasma Drive Host Requirements{% endblock %}
{% block content %}

<br>
<h2 class="text-center fw-bolder fs-3">Am I eligible to host a drive?</h2> 
<p class="text-center fw-light fs-5">There are some requirements to be able to host a plasma drive. This is so that nobody does this to make money illegally or coerces others to give their plasma or other such things.</p>

<h3 class="py-4 fw-bolder fs-4"> Who all can host a plasma drive?</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item fs-6 ">1. <span class="text-seconadry">A liscensed Doctor</span>
    <li class="list-group-item fs-6 ">2. <span class="text-seconadry">An approved oraganisation</span>
</ul>

<h3 class="py-4 fw-bolder fs-4"> If you a liscensed doctor:</h3>
<p class="lead fs-6 text-danger">1. <span class="text-body-secondary">You need to have your doctor's liscense ready at hand.</span>
<p class="lead fs-6 text-danger">2. <span class="text-body-secondary">You need to have selected a venue that is reachable. If there are difficulties, then you must clearly give alternative ways to reach there.</span>
<p class="lead fs-6 text-danger">3. <span class="text-body-secondary">Must not force anyone to donate plasma.</span>
<p class="lead fs-6 text-danger">4. <span class="text-body-secondary">Volunteers must be there voluntarily.</span>

<h3 class="py-4 fw-bolder fs-4"> If you are an approves organisation:</h3>
<p class="lead fs-6 text-danger">1. <span class="text-body-secondary">You need to keep your healthcare liscense ready.</span>
<p class="lead fs-6 text-danger">2. <span class="text-body-secondary">Must provide detailed instructions to reach your venue</span>
<p class="lead fs-6 text-danger">3. <span class="text-body-secondary">The doctors your organisation employs for plasma collection must be a liscensed doctor and they are to have their liscense ready at all times.</span>


{% endblock %}
