{% extends "base.html" %} {% block title %}Request Update...{% endblock %}
{% block content %}

<br>
<br>
{% if current_user.email == request_to_update.email %}
<form action="/request-update/{{request_to_update.id}}" method="POST">
    <h3 align="centre">{{title}}</h3>
        <p>
           {{ form.name.label }} <br> 
           {{form.name(size=30, value=request_to_update.name)}}
        </p>


        <p>
           {{ form.reg_no.label }} <br>
           {{form.reg_no( value=request_to_update.reg_no)}}
        </p>

   
        <p>
           {{ form.email.label }} <br>
           {{form.email( value=request_to_update.email)}}
        </p>


        <p>
           {{ form.blood_group.label }} <br>
           {{form.blood_group(value=request_to_update.blood_group)}}
        </p>
    

   
        <p>
           {{ form.date_details.label }} <br> 
           {{ form.date_details(value=request_to_update.date_details) }}
        </p>
    

   
        <p>
           {{ form.address.label }} <br>
           {{ form.address(value= request_to_update.address) }}
        </p>    

   
        <p>
           {{ form.details.label }} <br>
           {{form.details(value=request_to_update.details)}}</p>
    

        <p>{{ form.submit() }}</p>

</form>

{% else %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Sorry, You cannot edit this request
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button> 
  </div>
  <h2> Access Denied! </h2>
  <p> Sorry! You are not authorised to edit this page </p>

{% endif %}
{% endblock %}
