{% extends "base.html" %} {% block title %}Update Verified User...{% endblock %}
{% block content %}

<br>
<br>
{% if current_user.id == 1 %}
<form action="/ver-update/{{ver_to_update.id}}" method="POST">
    <h3 align="centre">{{title}}</h3>
        <p>
           {{ form.name.label }} <br> 
           {{form.name(value=ver_to_update.name)}}
        </p>


        <p>
           {{ form.contact_no.label }} <br>
           {{form.contact_no( value=ver_to_update.contact_no)}}
        </p>

   
        <p>
           {{ form.email.label }} <br>
           {{form.email( value=ver_to_update.email)}}
        </p>


        <p>
           {{ form.address.label }} <br>
           {{ form.address(value= ver_to_update.address) }}
        </p>    
    

        <p>{{ form.submit() }}</p>

</form>

{% else %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Sorry, You cannot edit this ver
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button> 
  </div>
  <h2> Access Denied! </h2>
  <p> Sorry! You are not authorised to edit this page </p>

{% endif %}
{% endblock %}
